.right-side {
  position: relative;
  height: 100%;
  padding: 5vh 7vw 1vh 7vw;
  color: var(--color-white);
  background-color: var(--color-black);
}

.highlights-header {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-highlights-header);
  color: var(--color-white);
}

@media (max-width: 700px) {
  .highlights-header {
    text-align: center;
  }
}
