.highlight {
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-dark-blue);
}

.highlight-main {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-highlight-main);
  gap: 10px;
  color: var(--color-white);
}

.highlight-name {
  margin: 0px;
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-highlight-name);
  color: var(--color-white);
}
.highlight-value {
  margin: 0;
}

@media (max-width: 320px) {
  .highlight-main {
    font-size: 48px;
  }
}
