.slider {
  height: 8px;
  width: 70%;
  background-color: var(--color-white);
  border-radius: 80px;
}

.slider-value {
  height: 100%;
  background-color: var(--color-yellow);
  border-radius: inherit;
}

.slider-numbers {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

